* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('../img/background.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

header {
    height: 64px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #262626;
}

header .logo {
    margin-top: 5px;
}

header img.icon {
    position: absolute;
    right: 30px;
    top: 24px;
    z-index: 10;
    display: none;
    cursor: pointer;
}

header nav .ul-liste {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 17px;
}

header nav .ul-liste .liste a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .2px;
    color: #ffffff;
    font-weight: bolder;
}

header nav .ul-liste .liste a:hover {
    color: #c7b1db;
}


.home {
    height: 100vh;
    position: relative;
}

.home .home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.home .home-title {
    color: black;
    font-size: 6em;
    margin-bottom: 20px;
    font-family: 'Lobster', cursive;
}

.home .home-desc {
    color: black;
    font-size: 3em;
    font-family: 'Lobster', cursive;
}

.home a {
    position: absolute;
    color: black;
    letter-spacing: .1em;
    text-decoration: none;
    padding-top: 12vh;
}

.home a span {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

.section-titre {
    padding: 20px;
    font-weight: bold;
}

.line span {
    display: block;
    width: 100%;
    height: 4px;
    background: radial-gradient(#f6e5b9, #ccbbdc);
    margin: auto;
    position: relative;
    bottom: 0.5px;
}

.projets .line span {
    background: black;
}

.section-header p {
    margin: 25px auto;
    line-height: 1.5;
    text-shadow: 1px 1px 0.5px #888;
    color: #888;
}

.section-header a {
    margin: 20px;
}

.section-header a:hover {
    border-radius: 30%;
    box-shadow: 0px 0px 10px #0077b5;
}

.section-header .header-link {
    margin-top: 10px;
}

.about {
    background: #ffffff;
}

.about .about-texte {
    margin-top: 35px;
}

.about .about-texte h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.about .about-texte .about-texte-desc {
    line-height: 1.8;
}

.about .about-img img {
    width: 90%;
    margin-bottom: 25px;
}

.projets {
    margin-bottom: 100px;
}

.projets .serv {
    background: #ffffff;
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 8px #000000;
    text-align: center;
}

.projets .serv .serv-icon {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 200px;
    border: solid 2px rgb(0, 0, 0);

}

.projets .serv-titre {
    font-weight: bold;
    margin: 20px 0;
}

.projets .serv-desc {
    margin-bottom: 20px;
    color: #888;
}

.projets .serv {
    margin-bottom: 20px;
}

.projets .projet1 {
    background: linear-gradient(to right, #f6e5b9, #ccbbdc);
    text-align: center;
    line-height: 60px;
    color: black;
    font-weight: bold;
    border-radius: .25rem;
    border: solid 1px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}

.projets .projet1:hover {
    border-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

@media (max-width:575px) {

    header nav {
        background: #262626;
    }

    header nav .ul-liste {
        display: none;
        text-align: center;
        padding: 0;
    }

    header nav .ul-liste .liste {
        margin: 20px;
    }

    header .logo {
        text-align: center;
    }

    header img.icon {
        display: block;
    }

    .home .home-content {
        width: 90%;
    }

    .home .home-title {
        font-size: 5em;
    }

    .home .home-desc {
        font-size: 2em;
    }

}

@media (max-width:1199px) {
    .about .about-texte {
        margin-top: 0;
    }

    .about .about-img {
        margin-top: 15%;
    }
}

@media (max-width:991px) {
    .about .about-img {
        margin-top: 0;
    }
}